<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasteBin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PasteBin.Properties.Settings>
            <setting name="DevKey" serializeAs="String">
                <value>fe5c31951e25ab6fa66c9fd9fdb128e0</value>
            </setting>
            <setting name="UserKey" serializeAs="String">
                <value>55ea27767325e4f160bc27a0b624edc1</value>
            </setting>
        </PasteBin.Properties.Settings>
    </userSettings>
</configuration>